*.pt
*.mp3
*.jpg
*.JPG
__pycache__
*.cache
/baselines/emb/*
dataset_*/features_*
dataset_*/clips
dataset_*/images
!/runs/*/state.pt
/env
/runs
/wandb
/baselines
/baselines_lfm
/baselines_micro
/LFM
/Pipfile
*.backup
/export
/export.zip
nohup*.out
